body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightSide, .leftSide {
  visibility: hidden;
  width: 500px;
  height: 500px;
  position: absolute;
}
.rightSide {
  left: 500px;
  border-left: 2px solid black;
}

img {
  position: absolute;
  z-index: 0;
}

.mainDiv, .start, .gameOver {
  width: 1000px;
  height: 500px;
}
.mainDiv {
  border: 1px solid;
  margin: 50px 50px auto;
  position: relative;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.imgStart {
  position: relative;
  width: 150px;
  height: 150px;
}
.mainTittle, .go, .gameOverTittle, .repeat, .rules, .shortGame, .longGame, .exit, .count {
  display: block;
  width: 300px;
  text-align: center;
  padding: 25px;
}
.mainTittle {
  font-size: 3em;
}
.go {
  top: 220px;
  font-size: 4.2em;
  color: red;
}
.go:hover, .shortGame:hover, .longGame:hover, .exit:hover {
  color: blue;
  cursor: pointer;
}
.shortGame, .longGame, .exit {
  padding: 10px;
  font-size: 2em;
  color: red;
  display: none;
}
.shortGame {
  top: 250px;
}
.longGame {
  top: 300px;
}
.rules {
 top: 400px;
}
.exit {
  bottom: -70px;
}

.gameDiv {
  display: flex;
}

.gameOver {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: colorchange 1s;
  -webkit-animation: colorchange 1s;
  background-color: black;
}
@keyframes colorchange {
  from {background: transparent}
  to {background: black;}
}
.gameOverTittle {
  top: 120px;
  color: white;
  font-size: 4em;
}
.repeat {
  top: 220px;
  color: red;
  font-size: 3em;
  font-weight: bold;
}
.repeat:hover {
  cursor: pointer;
  color: yellow;
}
.count {
  top: 320px;
  color: white;
  font-size: 1.2em;
}
.f {
  color: yellow;
}
